@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimoniales-blog {
    margin-top: 5rem;

    @include m.desktop {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 4rem;
    }

    &__heading {
        @include m.heading(true);
    }
}

.testimonial {
    text-align: center;


    &__imagen {
        width: 20rem;
        margin: 0 auto;
    }

    &__contenido {
        background-color: v.$blanco;
        margin-top: -10rem;
        padding: 10rem 2rem 2rem 2rem;
    }

    &__nombre {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__texto {

        &::before {
            content: '';
            background-image: url(../img/quote.svg);
            display: inline-block;
            height: 4rem;
            width: 4rem;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 1rem;
        }
    }
}

.entrada {
    background-color: v.$blanco;
    margin-bottom: 2rem;

    @include m.desktop {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        
    }

    &__imagen {
        height: 30rem;
        object-fit: cover;
        width: 100%;
    }
   
    &__contenido {
        padding: 1rem;
    }

    &__meta {
        font-size: 1.4rem;
    }

    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
        display: block;

        @include m.desktop {
            display: inline-block;
        }
    }
}